#server:
#  port: 8080
#
#spring:
#  application:
#    name: gateway-service
#
#  cloud:
#    config:
#      enabled: false
#
#    gateway:
#      server:
#        webflux:
#          routes:
#            - id: user-service
#              uri: lb://USER-SERVICE
#
#              predicates:
#                - Path=/api/users/**
#
#management:
#  endpoints:
#    web:
#      exposure:
#        include: "*"
#
#logging:
#  level:
#    org.springframework.cloud.gateway: DEBUG


spring:
  application:
    name: gateway-service

  config:
    import: optional:configserver:http://localhost:8888

