spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/user
    username: devanshjain
    password:

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

#  instance:
#    prefer-ip-address: true
#    instance-id: ${spring.application.name}:${server.port}


server:
  port: 8081